.ViewSupervisorReportWrapper{
    display: grid;
    width: 70vw;
    grid-template-columns: auto auto;
    grid-template-areas: 
    'pic info';
    background-color: grey;
    margin: auto;
    margin-top: 10vh;
    height: 60vh;
    border-radius: 10px;
    border-width: 2px;
    border-color: floralwhite;
    border-style: solid;
    box-shadow: 0 0 40px  rgb(0, 0, 0);
}

.ViewSupervisorReportImage{
    grid-area: pic;
    display: grid;
    object-fit: contain;
    height: 60vh;
    overflow: hidden;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
}


.ViewSupervisorReportInfo {
    grid-area: info;
    display: grid;
    padding:10px;
    text-align: center;
    

}

.viewimg{
    display: grid;
    height: 60vh;
    width: 60vh;
    place-content: center;
    object-position: center;
    overflow:hidden;
    object-fit: cover;

}